.informationLayout {
	width: 100%;
	text-align: center;
}

.movieDetails {
	background-color: var(--card-colour);
	width: 80vw;
	border-radius: 5px;
	margin: 0 auto;
}

.movieTitle {
	font-size: 2rem;
	margin-block: 1rem 0;
	padding-block: 1rem 0;
}

.movieIMG {
	width: 30vw;
	height: auto;
	object-fit: cover;
	padding: 1rem;
}

.movieInformation {
	display: flex;
	text-align: start;
}

.plot {
	max-width: 50ch;
}

.genreList {
	list-style: none;
	text-align: start;
	padding-inline-start: 0;
}

.genreList ul {
	list-style: none;
	padding-inline-start: 0;
	margin-block: 0;
}
