.movieContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movieCardWrapper {
	position: relative;
	overflow: hidden;
	border-radius: 5%;
	margin: 0.5rem;
	width: 90vw;
	box-shadow: 5px 5px 5px black;
}

.imgOverlay {
	backdrop-filter: blur(15px);
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	inset: 0;
}

.movieCard {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 5%;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-family: sans-serif;
	margin: 0;
	position: relative;
	z-index: 1;
}

.movieCardWrapper a {
	text-decoration: none;
}

.movieCard * {
	text-shadow: 1px 1px 3px black;
}

.thumbnail {
	width: 70%;
	height: auto;
}

.infoList {
	list-style: none;
	text-align: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
	padding: 0 1rem;
}

/* Desktop */
@media (min-width: 1168px) {
	.movieContent {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.movieCardWrapper {
		width: 20vw;
		display: grid;
	}

	.movieCard h2 {
		block-size: 5rem;
		overflow: hidden;
	}
}
