.searchPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	border: 1px solid white;
	height: 99vh;
}

.searchInput {
	padding: 1rem;
	font-size: 1rem;
}

.searchBtn {
	padding: 1rem;
	font-size: 1rem;
}

.searchBar {
	display: flex;
	flex-direction: column;
	width: 90vw;
	gap: 1rem;
}

/* Desktop */
@media (min-width: 1168px) {
	.searchBar {
		flex-direction: row;
		justify-content: center;
	}
}
