.selectedContent {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.selectedCard {
	text-align: center;
	padding: 1rem;
	background: linear-gradient(
		180deg,
		rgba(39, 58, 150, 1) 0%,
		rgba(41, 5, 18, 1) 100%
	);
	border-radius: 16px;
}

.titlePoster {
	width: 50dvw;
	aspect-ratio: 2 / 3;
}

.plot {
	width: 80dvw;
	text-align: justify;
}

.airtime {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.airtime p {
	padding-block: 0.5rem;
	margin: 0;
}

.detailsBox {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	text-align: center;
}

a {
	color: yellow;
	font-weight: bold;
}

.detailsColumn {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.seasonTable {
	border-collapse: collapse;
	width: auto;
	margin: 0 auto;
}

.seasonTable th,
.seasonTable td {
	text-align: center;
	padding-block: 0.5rem;
}

.seasonTable th:first-child,
.seasonTable td:first-child {
	padding-inline-end: 40px;
}

.seasonTable th:last-child,
.seasonTable td:last-child {
	padding-inline-start: 40px;
}

.seasonTable .checkbox-wrapper-18 .round {
	display: flex;
	justify-content: center;
}

.seasonBox {
	align-items: center;
}

.seasons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.seasonNumber {
	margin-block: 0.25rem;
}

/* Checkboxes */
.checkbox-wrapper-18 .round {
	position: relative;
	display: flex;
	justify-content: center;
}

.checkbox-wrapper-18 .round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	width: 28px;
	display: block;
	position: relative;
}

.checkbox-wrapper-18 .round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 8px;
	opacity: 0;
	position: absolute;
	top: 9px;
	transform: rotate(-45deg);
	width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.returnBtn {
	position: fixed;
	inset-block-start: 1rem;
	inset-inline-end: 1rem;
}

/* Watchlist checkbox */
.checkbox-wrapper-18 .watchlist,
.checkbox-wrapper-18 .checkbox-seen {
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* Desktop */
@media (min-width: 1280px) {
	.selectedCard {
		padding: 1rem 0;
		width: 100%;
		height: 99vh;
	}

	.titleCard {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 2rem;
		width: 100%;
	}

	.titlePoster {
		order: 0;
		height: 80dvh;
		width: auto;
		object-fit: contain;
		flex-shrink: 0;
		margin-inline-start: 2rem;
	}

	.leftColumn {
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1.5rem;
	}

	.titleText {
		display: flex;
		flex-direction: column;
		align-items: start;
		text-align: start;
		margin-block-start: 1rem;
	}

	.titleName {
		font-size: 3rem;
		margin: 0;
	}

	.plot {
		width: 100%;
		max-width: 30dvw;
		font-size: 1.2rem;
	}

	.detailsBox {
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		max-width: 40dvw;
		box-sizing: border-box;
		text-align: start;
	}

	.detailsLeft,
	.detailsRight {
		text-align: start;
		align-items: start;
	}

	.genresBox li,
	.starringBox li {
		text-align: start;
		list-style-position: inside;
	}

	.returnBtn {
		cursor: pointer;
	}
}
