input[type="text"] {
	font:
		15px/24px "Muli",
		sans-serif;
	color: #333;
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
}

.inputAnimated {
	border: 0;
	padding: 5px 0 7px;
	border: 1px solid transparent;
	border-bottom-color: #ccc;
	transition: 0.4s;
}

.inputAnimated:focus {
	padding: 5px 14px 7px;
	transition: 0.4s;
}

.inputAnimated ~ .focusBorder {
	position: absolute;
	height: 36px;
	bottom: 0;
	left: 0;
	width: 0;
	transition: 0.4s;
}
.inputAnimated:focus ~ .focusBorder {
	width: 100%;
	transition: 0.4s;
	border: 2px solid #4caf50;
}
